.header-background {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: skyblue;
  color: white;
  font-weight: bold;
}
.header-background1 {
  display: flex;
}

.favorite-icon {
  font-size: 5vh;
  color: #ffffff;
  padding: 20px;
}
.cart-icon {
  font-size: 5vh;
  padding: 20px;
}
.para {
  font-size: 20px;
}
